<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <title>Navegação - Hollow Knight</title>
</head>

<body>
    <nav class="navbar">
        <div class="menu">
            <a href="../pages/index.html">
                <h1>Hollow Knight</h1>
            </a>
            <div class="topics">
                <a href="../pages/lore.html">Lore</a>
                <a href="#">Galeria</a>
                <a href="#">Sobre</a>
            </div>
        </div>
    </nav>
</body>

</html>